<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>-->

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><li><%= message %></li></div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :content, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.cktext_area :content, id: :lecture_content, :class => 'ckeditor form-control' %>
    </div>  
  </div>

  <div class="field form-group">
    <%= form.label :attachment, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.file_field :attachment, id: :lecture_attachment %>
    </div>  
  </div>

  <div class="field form-group">
    <%= form.label :course_id, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= form.select :course_id, options_for_select(Course.where(user_id: current_user.id).all.map{|course|[course.title,course.id]}) %>
    </div>  
  </div>

  <div class="field form-group">
    <%= submit_tag 'Save', class: "btn  btn-primary btn-xs" %>
  </div>
<% end %>
