<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= raw @lecture.content %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= link_to 'Download', @lecture.attachment.url %>
</p>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.title %>
</p>
<%= link_to like_lecture_path(@lecture), class: "like-btn", method: :put, remote: :true do%>
    <span><i class="fa fa-thumbs-up fa-3x">like</i></span>
<% end %>  
<span class="likes-count"><%= @likes%></span>
<%= render 'comments/index' %>
<% if current_user.id == @lecture.course.user_id%>
  <%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<% end %>
<%= link_to 'Back', lectures_path %>
