<div class="container">
<div class="row "> 
  <div class="col-md-8 col-md-offset-2"></div> 
    <%= link_to "Back", lecture_path(@lecture),:class => "button btn btn-info btn-xs" %>
</div>    
<%= form_for ([@lecture, @comment]) do |form| %>
  
    <div class="field form-group" >
      <%= form.label :comment, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.text_area :comment, id: :comment_comment, class: 'form-control' %>
      </div>  
    </div>
    <div class="field form-group">
    <%= submit_tag 'Save', class: "btn  btn-primary btn-xs" %>
  </div>
  
  <% end %> 
</div>