<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user.name %>
</p>
<% if current_user == @course.user%>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>  
<%= link_to 'Back', courses_path %>
